body {
  color: #3f72af;
  background-color: #112d4e;
;
}


.login{
  text-align: center;
  color: #3f72af;
}
h1{
  text-align: center;
  color: #f9f7f7;
}
h2{
  color: #dbe2ef;
}
h3{
  color: #3f72af;
}
table{
  padding-right: 20px;
  margin-right: 20px;
}
img {
  border-radius: 50%;
}
